<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.woodmeas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WoodMeas">
        <activity android:name=".StackPackageListSelectActivity"></activity>
        <activity android:name=".LogPackageListActivity" />
        <activity android:name=".PlankPackageListActivity" />
        <activity android:name=".StackPackageDetailsActivity" />
        <activity android:name=".StackPackageListActivity" />
        <activity android:name=".PlankPackageDetailsActivity" />
        <activity android:name=".PlankPackageListSelectActivity" />
        <activity android:name=".StackCalculatorActivity" />
        <activity android:name=".PlankCalculatorActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".LogPackageDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LogPackageListSelectActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LogCalculatorActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WoodMeas.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
    </application>

</manifest>